# Ignore Visual Studio and Rider files
.vs
.idea
.suo
.user
.userosscache
.sln.docstates
.VC.db
.VC.opendb
.ncb
.opendb
.code-workspace
Core/obj/
HAMSY_API/obj/
Core/bin/
HAMSY_API/bin/
/Core/Enums/Instruction.cs
